<h2>SGA THEME REGISTRATION</h2>

<div class="scrollit">
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="2">ESD Audit Items</th>
                <th scope="col">Ideal Condition</th>
                <th scope="col">Critiera</th>
                <th scope="col">Fail/Pass</th>
                <th scope="col">QTY</th>
                <th colspan="3">Condition</th>
                <th scope="col">Actual Picture</th>
                <th scope="col">Comments/Remarks</th>
                <th scope="col">% Completed</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>