<h2>User</h2>

<div class="card center">
    <div class="card-body">
        <div class="text-wrapper left">
            <div><span style="font-weight: bold;">UserName</span><input class="form-control" type="text" /></div>
            <div><span style="font-weight: bold;">Password</span><input class="form-control" type="password" /></div>
            <div><span style="font-weight: bold;">Fullname</span><input class="form-control" type="text" /></div>
            <div>
                <span style="font-weight: bold;">Role</span>
                <select name="cars" class="form-control" id="cars">
                    <option value="volvo">User</option>
                    <option value="saab">Auditor</option>
                    <option value="opel">Admin</option>
                    <option value="audi">Super Admin</option>
                  </select>
            </div>

        </div>
        <div class="btn-footer">
            <span><button class="btn btn-warning btn-lg">Clear</button></span> <span><button class="btn btn-primary btn-lg">Save</button></span>
        </div>
    </div>
 
</div>