.center {
  margin: auto;
  width: 35%;
  text-align: center;
}

.text-wrapper {
  padding: 1rem;

  div {margin-top: 1rem;}
  span{margin-left: .2rem;}
}

.btn-footer{
  button{
      margin: 1rem;
      width: 10rem; 
  }
}