<h2>ESD AUDIT CHECK SHEET</h2>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xs-4 col-md-4 col-left">
        <span style="font-weight: bold;">Control #</span><input class="form-control" type="text" />
      </div>

      <div class="col-xs-4 col-md-4 col-left">
        <span style="font-weight: bold;">Div/Flr/Process</span><input class="form-control" type="text" />
      </div>

      <div class="col-xs-4 col-md-4 col-left">
        <span style="font-weight: bold;">Date</span><input class="form-control" [(ngModel)]="today" type="date"
          disabled="true" />
      </div>
    </div>
  </div>
</div>

<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="2">ESD Audit Items</th>
      <th scope="col">Ideal Condition</th>
      <th scope="col">Critiera</th>
      <th scope="col">Fail/Pass</th>
      <th scope="col">QTY</th>
      <th colspan="3">Condition</th>
      <th scope="col">Actual Picture</th>
      <th scope="col">Comments/Remarks</th>
      <th scope="col">% Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of checkListArray; let i = index">
      <td>{{i}}</td>
      <td>{{item.item}}</td>
      <td><button class="btn btn-secondary" (click)="openModal(i)">View</button></td>
      <td class="td-criteria">{{item.criteria}}</td>
      <td>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="item.passOrFail" [name]="i + 'passOrFail'" [id]="i + 'passOrFail'">
          <span class="slider round"></span>
        </label>
      </td>
      <td>
        <input class="qty" min="0" type="number" [(ngModel)]="item.qty">/
        <input class="qty" min="0" type="number">
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[0]">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[0]"> {{item.condition[0]}}</label>
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[1]">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[1]"> {{item.condition[1]}}</label>
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[2]">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[2]"> {{item.condition[2]}}</label>
      </td>
      <td>
        <button class="btn btn-primary">Upload</button>
        &nbsp;
        <button class="btn btn-secondary">View</button>
      </td>
      <td><textarea type="text" [(ngModel)]="item.commentRemarks" class="form-control"></textarea></td>
      <td><input type="text" [(ngModel)]="item.completed" class="form-control"></td>
    </tr>
  </tbody>
</table>

<hr>

<div class="row">
  <div class="col-md-2">
    <h3>Open Area</h3>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="addOpenArea()">Add</button>
  </div>
</div>

<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="2">ESD Audit Items</th>
      <th scope="col">Ideal Condition</th>
      <th scope="col">Critiera</th>
      <th scope="col">Fail/Pass</th>
      <th scope="col">QTY</th>
      <th colspan="3">Condition</th>
      <th scope="col">Actual Picture</th>
      <th scope="col">Comments/Remarks</th>
      <th scope="col">% Completed</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of openAreaArray; let i = index">
      <td>{{i}}</td>
      <td><textarea type="text" [(ngModel)]="item.item" class="form-control"></textarea></td>
      <td><button class="btn btn-secondary">View</button></td>
      <td><textarea type="text" [(ngModel)]="item.criteria" class="form-control"></textarea></td>
      <td>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="item.passOrFail" [name]="i + 'passOrFail'" [id]="i + 'passOrFail'">
          <span class="slider round"></span>
        </label>
      </td>
      <td>
        <input class="qty" min="0" type="number" [(ngModel)]="item.qty">/
        <input class="qty" min="0" type="number" >
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[0] + '-open'">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[0] + '-open'">
          {{item.condition[0]}}</label>
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[1] + '-open'">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[1] + '-open'">
          {{item.condition[1]}}</label>
      </td>
      <td>
        <input type="radio" class="btn-check" [name]="i" [id]="i + item.condition[2] + '-open'">
        <label class="btn btn-outline-secondary" [htmlFor]="i + item.condition[2] + '-open'">
          {{item.condition[2]}}</label>
      </td>
      <td>
        <button class="btn btn-primary">Upload</button>
        &nbsp;
        <button class="btn btn-secondary">View</button>
      </td>
      <td><textarea type="text" [(ngModel)]="item.commentRemarks" class="form-control"></textarea></td>
      <td><input type="text" [(ngModel)]="item.completed" class="form-control"></td>
      <td><button class="btn btn-danger" (click)="removeOpenArea(i)">Remove</button></td>
    </tr>
  </tbody>
</table>


<div class="btn-footer">
  <span><button class="btn btn-warning btn-lg">Clear</button></span> <span><button
      class="btn btn-primary btn-lg">Save</button></span>
</div>

<!-- Confirmation Modal -->
<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body modal-sm">
    <img alt="" [src]="images">
  </div>

  <!-- <div class="modal-footer"> -->
  <!-- <button class="btn btn-danger" (click)="modal.close(true)">Delete</button>
      <button class="btn btn-info" (click)="modal.close(false)">Cancel</button> -->
  <!-- </div> -->
</ng-template>