<h2>SGA THEME REGISTRATION LIST</h2>

<div class="card">
    <div class="card-body">
        <div class="left">
            <select class="form-control date_filter" id="date_filter" [(ngModel)]="date_filter"
                (change)="onFilterChange()">
                <option value="0">Today</option>
                <option value="2">Last 2 days</option>
                <option value="5">Last 5 days</option>
                <option value="15">Last 15 days</option>
                <option value="30">Last 30 days</option>
            </select>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-add"
            [routerLinkActive]="['active']" [routerLink]="['/views/sga-check-sheet', 0]">Add Theme Registration</button>
        </div>
        <br>
        <br>
        <div class="scrollit">
            <table class="table table-responsive table-bordered" id="sga_table">
                <thead>
                    <tr>
                        <th class="control-no" scope="col">Control No</th>
                        <th scope="col">Theme Title</th>
                        <th scope="col">SGA LEADER</th>
                        <th scope="col">Division</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sga_checksheet_list">
                        <td>{{item.ControlNo}}</td>
                        <td>{{item.Title}}</td>
                        <td>{{item.SgaLeader}}</td>
                        <td>{{item.Division}}</td>
                        <td>{{item.Department}}</td>
                        <td><button class="btn btn-primary"
                            [routerLink]="['/views/sga-check-sheet', item.ControlNo]">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>