td {
    white-space: pre
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.td-criteria {
    padding: 5px;
}

.qty {
    width: 3rem;
}

.col-md-1 {
    margin-left: -7rem;
}

// .div-table{
//     overflow-y: auto;
//     height: 41rem;   
// }

img {
    width: 100%;
}

.btn-footer {
    .row {
        padding: .5rem;
    }
}

.modal-body {
    max-height: 50rem;
    overflow: auto;
    text-align: center;
    .image-wrap {
        margin-bottom: 1rem;

        img {
            border: 5px solid #555;
            ;
        }
    }
}

.scrollit {
    overflow: scroll;
    height: auto;
    max-height: 500px;
}

.btn-check {
    position: fixed;
}

th {
    position: sticky;
    top: -1px;
    /* 0px if you don't have a navbar, but something is required */
    background: grey;
    z-index: 1;
}

.remove-image {
    color: white;
    background-color: grey;
    border: 0px;
    position: absolute;
    margin-top: 10px;
    right: 1px;
    margin-right: 25px;
}

.td-left {
    text-align: left;
}

.signature {
    margin-top: 0.5rem;
    text-align: center;
}

.timer {
    text-align: center;

    button {
        width: 20rem;
    }
}

.left {
    text-align: left;
}

// .score-details{
//     margin-left: 8rem;
// }

.card-status {
    height: 13rem;
    background-color: #ffffff;
}

.text-status {
    font-size: 100px;
}

.score-details {
    padding: 1rem;
    font-size: 20px;
}

.signature-img {
    max-width: 80%;
    max-height: 80%;
}

th {
    white-space: nowrap;
}