  .date_filter{
    width: 20rem;
  }

  td{
    text-align: left !important;
  }

  .left, .right {
    width: 50%; /* Floated elements technically need a width specified. */
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }

  .btn-add{
    float: right;
  }