/* You can add global styles to this file, and also import other style files */
.card-body{
    background-color: #eeeeee;
    padding: 10px !important;
}

.col-left {
    text-align: left;
    padding: 15px;
}

.left {
    text-align: left;
}
